/* font-family: 'Istok Web', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
#5865f2
*/
@font-face {
    font-family: ginto;
    src: url("ABCGintoNord-Bold-Trial.woff2");
    font-weight: 1200;
  }
  @font-face {
    font-family: whitney;
    src: url("whitney-medium.otf");
    font-weight: 600;
  }
*{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: whitney;
}
.navbar{
    background-color: #4865ed;
}
.navbar-wrapper{
    display: flex;
    height: auto;
    margin: 0 40px;
    justify-content: space-around;
}

.navbar-logo h4{
    font-family:ginto;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 21px 50px;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 18px;
}
.navbar-logo{
    display: flex;
    margin-left: 30px;
}
.navbar-logo img{
    display: flex;
    width: 55.67px;
    height: 60.25px;
    margin-right: -55px;
}
.navbar-menu ul{
    display: flex;
    margin: 0px 150px;
    text-align: center;
}
.navbar-menu ul li{
    padding : 20px;
    list-style: none; 

}
.navbar-menu ul li a{
    color: white;
    text-decoration: none;
    font-family: whitney;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.navbar-menu ul li a:hover{
    text-decoration: dotted;
    color: white;
    border-bottom: solid 1px;
}
.navbar-btn{
    margin-top: 15px;
    margin-left: 70px;
}
.navbar-btn button{
    width: auto;
    border-radius: 28px ;
    background-color: white;
    color: black;
    border-color: white;
    border-style: none;
    padding: 7px 15px;
    font-size: 15px;
}
.navbar-btn a{
    text-decoration: none;
    color: black;
}
.navbar-btn button:hover{
    box-shadow: 5px 5px 5px rgba(35, 39, 42, 0.2);;
    color: #5865f2;
}